body{
    background-image: linear-gradient(to right, #3ab5b0 0%, #3d99be 31%, #56317a 100%);
}
a:link{
    color:white;
    text-decoration: none;
}
.container{
    position: relative;
    top:10em;
}

.card{
    margin:0 auto ;
    width:35%;
}

/* Transition */
.list{
    width: 240px;
    padding:0;
}
.item{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin:4px;
    width:40px;
    height:40px;
    background: #f5f5f5;
}

.v-enter-active, .v-leave-active, .v-move{
    transition: all 1s;
}
.v-leave-active{
    position: absolute;
}
.v-enter,.v-leave-to{
    opacity: 0;
    background:#f9a3b1;
    transform:translateY(-30px);
}
